$primary-blue: rgb(51, 82, 150);
$primary-red: rgb(239, 62, 66);
$head-text: 'AmsiPro-UltraItalic';
$secondary-headline: 'AmsiPro-BlackItalic';
$light-gray:rgb(188, 188, 189);
$aqua: rgb(147,212,218);
$animation-delay: 0.1s;

@font-face {
    font-family: 'AmsiPro-UltraItalic';
    src: url('../fonts/AmsiPro-UltraItalic.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-UltraItalic.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }
  
  @font-face {
    font-family: 'AmsiPro-BlackItalic';
    src: url('../fonts/AmsiPro-BlackItalic.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-BlackItalic.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }

  @font-face {
    font-family: 'AmsiPro-Regular';
    src: url('../fonts/AmsiPro-Regular.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-Regular.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }


.bluehome{
    background-color: $primary-blue;
    color: #fff;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 25%; // Make buttons full-width for smaller screens
    margin-bottom: 10px; // Add some bottom margin for spacing
    animation-delay: 0.6s;
}

.icon-container{
    background-color: green;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin: auto;
    color:white;
    padding: 30px;
    border-radius: 50px;
}

.effect__confirmation{
    animation-delay: 0.3s;
    
}

@media only screen and (min-width: 768px) {
        
    .bluehome{
        
        width: 10%; // Make buttons full-width for smaller screens
        
    }
}

