$primary-blue: rgb(51, 82, 150);
$primary-red: rgb(239, 62, 66);
$head-text: 'AmsiPro-UltraItalic';
$secondary-headline: 'AmsiPro-BlackItalic';
$light-gray:rgb(188, 188, 189);
$aqua: rgb(147,212,218);
$animation-delay: 0.1s;

@font-face {
    font-family: 'AmsiPro-UltraItalic';
    src: url('../fonts/AmsiPro-UltraItalic.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-UltraItalic.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }
  
  @font-face {
    font-family: 'AmsiPro-BlackItalic';
    src: url('../fonts/AmsiPro-BlackItalic.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-BlackItalic.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }

  @font-face {
    font-family: 'AmsiPro-Regular';
    src: url('../fonts/AmsiPro-Regular.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-Regular.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }

.welcome-dashboard {
    margin-top: 100px;
    padding: 5px;
    background: linear-gradient(to bottom, $primary-blue, #6c9eff); // Blue gradient background
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;

    .dashboard-header{
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .dashboard-title {
        font-size: 25px;
        
        color: white;
        font-family: $head-text;
    }

    .request-service-btn {
        padding: 10px ;
        margin: 10px 10px 0px 0px;
        width: 40%;
        background-color: $primary-red;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
        text-decoration: none;
        text-align: center;
    }
}

.service-list {
    list-style: none;
    padding: 0;
    width: 100%;

    .service-item {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        &:nth-child(2) {
            animation-delay: $animation-delay * 1;
          }
          &:nth-child(3) {
              animation-delay: $animation-delay * 2;
          }
          
          &:nth-child(4) {
            animation-delay: $animation-delay * 4;
        }
        &:nth-child(5) {
            animation-delay: $animation-delay * 3;
        }
        .service-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;

            .service-name {
                font-weight: bold;
            }

            .service-status {
                display: flex;
                align-items: center;

                .status-label {
                    margin-right: 5px; // Adjust spacing between label and light
                }

                .status-light {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: green; // Example status color
                }
            }

            .expand-btn {
                border: none;
                background-color: rgb(215, 211, 211);
                border-radius: 50px;
                cursor: pointer;
                font-size: 20px;
                width: 40px;
                margin-bottom: 5px;
                
            }
        }

        .service-details {
            margin-top: 15px;
            padding: 10px;
        }

        
    }
}

@media only screen and (min-width: 768px) {
        
    .welcome-dashboard{
        
        .request-service-btn {
            width: 15%; // Adjusted width for better desktop view
            
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .service-list{
            padding: 0 50px;
        }
        
    }
}